body{
  background-color: red;
}

.numbersForm{
  margin: auto;
  margin-top: 50px;
  width: 300px;
  background-color: blue;
  text-align: center;
}
.numbersFormButton{
  margin: auto;
  width: 300px;
  background-color: blue;
}
.resultBox{
  margin: auto;
  width: 300px;
  background-color: green;
}
input[type=number], select, textarea{

}
